<%= include("templates/header") %>

<input id="contracts" type="hidden" data-contracts="<%- JSON.stringify(config.contracts) %>"></input>

<div class="top-wrapper">

  <div class="fork">
    Best in Chrome | <a href="https://github.com/tcoulter/seusscoin">Fork me on GitHub!</a>
  </div>

  <div class="container">

    <div class="twelve-columns first">
      <div class="seusscoin">
        <div class="inner-one"></div>
        <div class="inner-two"></div>
        <div class="inner-three"></div>
        <div class="seuss"></div>
      </div>

      <div class="seven columns stepbox">
        <div id="open_step" class="step current">
          <strong><%= config.product_name %> WALLET</strong>
          <p>
            Enter your Ethereum client details to&nbsp;get&nbsp;started. <a id="huh" href="#">Huh?</a>
          </p>
          <label id="client_host_label" for="client_host">Ethereum Client's Web Address</label>
          <input id="client_host" type="text" placeholder="Example: 127.0.0.1:8545"></input>
          <br>
          <label id="client_address_label" for="client_address">Your Ethereum Address</label>
          <input id="client_address" type="text" placeholder="Example: 49359db8df16e2d4e1a4c60ad16bace135ed6ff9"></input>
          <button id="open_wallet" class="charcoal fill">Open Wallet</button></input><div class="use_coinbase_wrapper"><input id="use_coinbase" checked="checked" type="checkbox"><div>Use primary address</div></div>
        </div>
        <div id="balance_step" class="step">
          <div class="white-wrapper">
            <div class="close">&otimes;</div>
            <h3 id="balance"></h3>
            <span><%= config.product_name %> Balance</span>
          </div>
          <button id="sendcoin" class="charcoal fill">Send Coin</button><button id="request_from_faucet" class="white">Get Free Coin!</button> 
        </div>
        <div id="amount_step" class="step">
          <div class="white-wrapper">
            <div class="send-amount-wrapper">
              <input id="send_amount" type="text"></input>
            </div>
            <span>Enter Amount</span>
          </div>
          <button id="enter_address" class="charcoal fill">Next</button><button class="charcoal cancel">Cancel</button> 
        </div>
        <div id="address_step" class="step">
          <div class="white-wrapper">
            <div class="send-amount-wrapper">
              <input id="send_address" type="text"></input>
            </div>
            <span>Enter Receiver Address</span>
          </div>
          <button id="finalize" class="charcoal fill">Finalize</button><button class="charcoal cancel">Cancel</button> 
        </div>

      </div>
    </div>
  </div>

  <div class="scroll-down"href="#"><div>Learn More&nbsp;</div><div class="arrow">&darr;</div></div><!--div class="arrow">&ltcc;</div-->

</div> <!-- /top-wrapper -->

<div id="faq" class="divider"></div>

<div class="container">
  <div class="twelve columns">

    <h5>What is Ethereum?</h5>
    <p>
      Ethereum is a revolutionary new computing mechanism that might just change our whole industry (and possibly our culture). <a href="http://www.ethereum.org" target="_blank">Read more here.</a> 
    </p>

    <h5>So what is <%= config.product_name %>?</h5>
    <p>
      A website based on Ethereum.
    </p>

    <h5>Alright. But what does it do?</h5>
    <p>
      <%= config.product_name %> uses Ethereum to create a new kind of token, also called <%= config.product_name %>. It's like a casino's poker chip: You can use it to buy things from the House (in this case, <%= config.product_name %>'s creator, <a href="https://twitter.com/timothyjcoulter" target="_blank">Tim Coulter</a>), but if you take it anywhere else -- like the drug store -- it holds no value at all.
    </p>

    <h5>Is it money?</h5>
    <p>
      Nope, not at all. You're gonna get funny looks if you try to pay for your groceries in <%= config.product_name %>.
    </p>

    <h5>Okay, then what can I get with it?</h5>
    <p>
      Currently, Tim accepts <%= config.product_name %> for the following items:

      <ul>
        <li>10 <%= config.product_name %> = a beer</li>
        <li>20 <%= config.product_name %> = a pizza</li>
      </ul>

      Other <%= config.product_name %> trades may become available, so keep checking in!
    </p>

    <h5>How can I get <%= config.product_name %>?</h5>
    <p>
      You can do something nice for Tim, or get some free from the faucet.
    </p>

    <h5>What's a faucet?</h5>
    <p>
      Well, in this case, it's a button that slowly provides you with free <%= config.product_name %>! If you start the app (see above), you can click it to get 5 free <%= config.product_name %>. Even better, you use that button to continue getting get 1 free <%= config.product_name %>per day.
    </p>

    <h5>I'm getting errors. Help?</h5>
    <p>
      <%= config.product_name %> (<%= config.host %>) is running on the Ethereum Public test network, so you'll want to make sure you are too. If you're running geth, ensure you do not specify a test network when starting your client. For more help, feel free to email me: <a href="mailto:tim@timothyjcoulter.com">tim@timothyjcoulter.com</a>.
    </p>

    <h5>Ethereum's not officially released. What will happen to my <%= config.product_name %> when it goes live?</h5>
    <p>
      Unfortunately, it disappears (but that doesn't stop you from getting more). Spend your <%= config.product_name %> now!
    </p>

    <h5>That sucks. Alright, so what's Seuss?</h5>
    <p>
      My girlfriend's cat.
    </p>

    <h5>Why did you make this site about your girlfriend's cat?</h5>
    <p>
      Because I needed to try my hand at building a distributed Ethereum-based application, top to bottom. Also, that picture of Seuss was pretty good.
    </p>

    <h5>Isn't the Ethereum network about decentralization and less trust? Do I have to trust Tim?</h5>
    <p>
      Do you trust a casino to exchange your chips for cash? If you don't trust Tim, you don't want <%= config.product_name %>!
    </p>
  </div>

  <div class="divider"></div>
</div>

<%= include("templates/footer") %>